<!-- src/app/app.component.html -->
<nav class="navbar navbar-expand-lg px-3" style="background: linear-gradient(to right, #cc75ff, rgb(220, 217, 252));">
  <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']" style="cursor: pointer;">
    <img src="assets/the_office.png" alt="Inicio" width="50" class="me-2 " />
    <span>The Office API</span>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/documentacion" routerLinkActive="active">Documentación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre-mi" routerLinkActive="active">Sobre mí</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
