.min-vh {
  min-height: 100vh;
}

.presentacion {
   background: linear-gradient(to bottom, #FFFFFF 0%, rgba(158, 117, 255, 0.1) 100%);

}

.logo-the-office {
  height: 170px;
  width: auto;
  margin-right: 20px;
}

.titulo-the-office {
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.subtitulo-the-office {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
.tarjeta-personaje > img{
    padding: 10px;
}
.imagen-personaje {
  object-fit: contain;
  height: 400px;
  width: 100%;
  background-color: rgba(158, 117, 255, 0.02);
}
.tarjeta-personaje{
    border-style: solid;
    border-width: 2px;
    border-color:white;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.35);

}
.card-body{
  background-color: rgba(158, 117, 255, 0.05);
  border-top: 2px solid rgba(158, 117, 255, 0.1);
}
.tarjeta-personaje:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
  }
  @media (min-width: 992px) {
    .tarjeta-personaje {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }